<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
        <title>Page #$ID</title>
    </head>
    <body>
        <p>
        Wow. You've made it all the way to the end, to the <em>$IMAGE</em>. That's insane.
        </p>

        <img src="things/$IMAGE.jpg"/>

        <ul id="links">
            $LINKS
        </ul>

        <p>Or, <a href="0.html">return to the start</a>.</p>
    </body>
</html>