<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
        <title>Page #$ID</title>
    </head>
    <body>
        <p>
        Congratulations, you've made it all the way to the end! You're so talented
        </p>

        <img src="things/$IMAGE.jpg"/>

        <!-- <ul id="links">
            $LINKS
        </ul> -->

        <p>Now that you've completed it once why not try again? <a href="0.html">click here to return to the start</a>.</p>
    </body>
</html>