<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
        <title>Page #$ID</title>
    </head>
    <body>
        <p>
        Welcome to the web maze! Inspired by my university's website which feels like a maze to navigate,
        I created a website that is a literal maze. Try and get to the end! The end destination you're trying to reach is a $END,
        and you're on page <em>$IMAGE</em>.
        </p>

        <img src="things/$IMAGE.jpg"/>

        <ul id="links">
            $LINKS
        </ul>

        <!-- The first page shouldn't have a link to itself that's just dumb -->
        <!-- <p>Or, <a href="0.html">return to the start</a>.</p> -->
    </body>
</html>